.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
}

.header img {
    width: 2rem;
}

.header__logoName{
    font-weight: 500;
}