.container{
    background-color: #eee;
    min-height: 100vh;
    position: relative;
    width: device-width;
}

.header{
    position: fixed;
    left: 1rem;
    right: 1rem;
    background-color: #eeeeee;
    padding: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #303030;
}

.header img{
    margin-bottom: 1rem;
}

.header__logoName{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.header__greet{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.message{
    display: flex;
    align-items: center;
}

.message__grid{
    padding-top: 17rem;
    padding-bottom: 3rem;
    z-index: 2;
    overflow: auto;
}

.message__text{
    background-color: #dddddd;
    padding: 1rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
}

.form{
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0.5rem;
    z-index: 1;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}